node_modules/
.pnp
.pnp.js


coverage/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

pids
*.pid
*.seed
*.pid.lock

*.db
*.db-journal

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

dist/
build/
.next/

prisma/migrations/

.dockerignore
Dockerfile

k8s/overlays/dev/secrets.yaml
k8s/overlays/prod/secrets.yaml