# Dependencies
node_modules/

# Build outputs
dist/
build/

# Env files
.env
.env.local
apps/backend/.env
apps/frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.DS_Store
